a {
  text-decoration: none;
}

.fab.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.flex0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.flex01 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}

.flex10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flexColumn {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flexCenter {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justifyContentCenter {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important
}

@media (max-width: 767px) {
  .sm-block {
    display: block !important;
  }

  .sm-flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .sm-flex01 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }

  .sm-flex10 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
  }

  .sm-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .sm-flexColumn {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important
  }

  .sm-flexTop {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important
  }

  .sm-flexCenter {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .sm-justifyContentCenter {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
  }
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.menubutton {
  display: none;
  font-size: 24px;

  /* 設絕對位置不影響其它元件的排版，置於右邊 */
  position: absolute;
  z-index: 1;
  right: 18px;
}

@media (max-width: 767px) {
  .menubutton {
    display: block;
  }
}

.header-navigation {
  background: rgba(0, 0, 0, .75);
  color: white;
  padding-right: 42px;
  padding-left: 42px;
  padding-top: 17px;
  padding-bottom: 15px;
  position: absolute;
  left: 0;
  right: 0;
}

.header-navigation h1 {
  font-size: 24px;
  font-family: NotoSansCJKtc-Black;
}

.header-navigation a {
  color: inherit;
}

.header-navigation>ul>li {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 25px;
}

.header-navigation>ul>li>a {
  padding: 5px 10px;
}

.header-navigation>ul>li>a:hover {
  background-color: slategrey;
}


@media (max-width: 767px) {
  .header-navigation {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-navigation ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .header.menu-show .header-navigation ul {
    max-height: 500px;
  }

  .header-navigation ul li:first-child {
    margin-top: 30px;
  }

  .header-navigation ul li {
    height: 30px;
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .header-navigation>ul>li>a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
}

.header .banner {
  height: 420px;
  background-image: url('/images/header_desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .slogon {
  color: white;
  width: 460px;
  background: rgba(0, 0, 0, 0.35);
  padding-top: 20px;
  padding-bottom: 26px;
  margin-left: 10px;
  margin-right: 10px;
}

.banner .slogon h2 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 36px;
  margin-bottom: 16px;
  text-align: center;
}

/* 控制斷行用，em裡的文字會盡量在同一排 */
.banner .slogon h2>em {
  display: inline-block;
}

.banner .slogon p {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  text-align: center;
  margin-bottom: 6px;
}

@media (max-width: 767px) {
  .header .banner {
    background-image: url('/images/header_mobile.png');
  }
}

.feature {
  background-color: #EFE9E7;
  padding: 50px 62px;
  color: #3D1101;
}

.feature>header {
  text-align: center;
  margin-bottom: 31px;
  position: relative;
}

.feature h2 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
}

.feature h3 {
  font-size: 18px;
  letter-spacing: 1px;
}

.feature header>h2 {
  background-color: #EFE9E7;
  display: inline-block;
  position: relative;
  padding: 0 13px;
}

.feature header .vertical-line {
  border-bottom: 1px solid #979797;
  position: relative;
  top: 30px;
  left: 50%;
  width: 460px;
  transform: translateX(-50%);
}

.feature>ul>li {
  margin-right: 60px;
  flex: 1 1 0;
}

.feature>ul>li:last-child {
  margin-right: 0;
}

.feature>ul>li header {
  text-align: center;
  margin-bottom: 11px;
}

.feature>ul>li div {
  text-align: center;
  margin-bottom: 20px;
}

.feature>ul>li img {
  border-radius: 50%;
  max-width: 200px;
  width: 100%
}

@media (max-width: 767px) {
  .feature {
    padding: 50px 30px;
  }

  .feature header .vertical-line {
    width: 0;
  }

  .feature>ul>li {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.chief {
  font-family: MicrosoftJhengHeiRegular;
  padding: 0 11px;
  background: #3D1101;
  color: #EFE9E7;
  line-height: 20px;
}
.chief .chief-image {
  margin-right: 25px;
  height: 460px;
  flex: 0 1 470px;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url('/images/chef.png');
}

.chief .chief-info {
  padding-top: 81px;
  flex: 0 1 410px;
  margin-right: 18px;
}

.chief-info .chief-name {
  margin-bottom: 16px;
}

.chief-name h2 {
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 767px) {
  .chief {
    padding: 0;
  }
  .chief .chief-image {
    height: 460px;
    margin-right: 0;
    flex: 0 0 auto;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/chef.png');
  }

  .chief .chief-info {
    padding: 0;
    flex: 0 0 auto;
    margin: 30px;
  }
}

.footer {
  padding: 50px 43px;
  background-color: #EFE9E7;
}

.footer .about {
  max-width: 299px;
  margin-right: 21px;
}

.footer .contact {
  max-width: 299px;
}

.footer h2 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 24px;
  margin-bottom: 16px;
  color: #3D1101;
}

.footer p {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  color: #3D1101;
  line-height: 20px;
}

.footer a {
  color: inherit;
}

.footer li {
  list-style-type: disc;
  list-style-position: inside;
}

.contact li>p {
  display: inline-block;
}

.social>h1 {
  text-align: right;
  font-family: NotoSansCJKtc-Black;
  font-size: 49px;
  color: #3D1101;
  margin-bottom: 22px;
  font-weight: bold;
}

.social div {
  text-align: right;
}

.social i {
  font-size: 36px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .footer {
    padding: 50px 10px;
    background-color: #EFE9E7;
  }

  .footer .about {
    margin-bottom: 30px;
  }

  .footer .contact {
    margin-bottom: 30px;
  }
}