a {
  text-decoration: none;
}

.form-stacked input[type="text"],
.form-stacked input[type="password"],
.form-stacked input[type="email"],
.form-stacked input[type="url"],
.form-stacked input[type="date"],
.form-stacked input[type="month"],
.form-stacked input[type="time"],
.form-stacked input[type="datetime"],
.form-stacked input[type="datetime-local"],
.form-stacked input[type="week"],
.form-stacked input[type="number"],
.form-stacked input[type="search"],
.form-stacked input[type="tel"],
.form-stacked input[type="color"],
.form-stacked input[type="file"],
.form-stacked select,
.form-stacked label,
.form-stacked textarea {
    display: block;
    margin: 0.25em 0;
}

/*
Need to separate out the :not() selector from the rest of the CSS 2.1 selectors
since IE8 won't execute CSS that contains a CSS3 selector.
*/
.form-stacked input:not([type]) {
    display: block;
    margin: 0.25em 0;
}

.fab.fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.hidden {
  display: none;
}

.flex0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.flex01 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}

.flex10 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

.flex {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.flexColumn {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
  -webkit-flex-direction: column !important;
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flexCenter {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
}

.justifyContentCenter {
  -webkit-box-pack: center !important;
  -webkit-justify-content: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important
}

@media (max-width: 767px) {
  .sm-block {
    display: block !important;
  }

  .sm-flex1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }

  .sm-flex01 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto
  }

  .sm-flex10 {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
  }

  .sm-flex {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .sm-flexColumn {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important
  }

  .sm-flexTop {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: start !important;
    -webkit-align-items: flex-start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important
  }

  .sm-flexCenter {
    display: -webkit-box !important;
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -webkit-align-items: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }

  .sm-justifyContentCenter {
    -webkit-box-pack: center !important;
    -webkit-justify-content: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important
  }
}

.wrap {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  position: relative;
}

.menubutton {
  display: none;
  font-size: 24px;

  /* 設絕對位置不影響其它元件的排版，置於右邊 */
  position: absolute;
  z-index: 1;
  right: 18px;
}

@media (max-width: 767px) {
  .menubutton {
    display: block;
  }
}

.header-navigation {
  background: rgba(0, 0, 0, .75);
  color: white;
  padding-right: 42px;
  padding-left: 42px;
  padding-top: 17px;
  padding-bottom: 15px;
  position: absolute;
  left: 0;
  right: 0;
}

.header-navigation h1 {
  font-size: 24px;
  font-family: NotoSansCJKtc-Black;
}

.header-navigation a {
  color: inherit;
}

.header-navigation>ul>li {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  margin-right: 5px;
  margin-left: 25px;
}

.header-navigation>ul>li>a {
  padding: 5px 10px;
}

.header-navigation>ul>li>a:hover {
  background-color: slategrey;
}


@media (max-width: 767px) {
  .header-navigation {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header-navigation ul {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  .header.menu-show .header-navigation ul {
    max-height: 500px;
  }

  .header-navigation ul li:first-child {
    margin-top: 30px;
  }

  .header-navigation ul li {
    height: 30px;
    font-size: 20px;
    margin-left: 0;
    margin-bottom: 10px;
  }

  .header-navigation>ul>li>a {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }
}

.header .banner {
  height: 420px;
  background-image: url('/images/header_desktop.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner .slogon {
  color: white;
  width: 460px;
  background: rgba(0, 0, 0, 0.35);
  padding-top: 20px;
  padding-bottom: 26px;
  margin-left: 10px;
  margin-right: 10px;
}

.banner .slogon h2 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 36px;
  margin-bottom: 16px;
  text-align: center;
}

/* 控制斷行用，em裡的文字會盡量在同一排 */
.banner .slogon h2>em {
  display: inline-block;
}

.banner .slogon p {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  text-align: center;
  margin-bottom: 6px;
}

@media (max-width: 767px) {
  .header .banner {
    background-image: url('/images/header_mobile.png');
  }
}

.feature {
  background-color: #EFE9E7;
  padding: 50px 62px;
  color: #3D1101;
}

.feature>header {
  text-align: center;
  margin-bottom: 31px;
  position: relative;
}

.feature h2 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 1px;
}

.feature h3 {
  font-size: 18px;
  letter-spacing: 1px;
}

.feature header>h2 {
  background-color: #EFE9E7;
  display: inline-block;
  position: relative;
  padding: 0 13px;
}

.feature header .vertical-line {
  border-bottom: 1px solid #979797;
  position: relative;
  top: 30px;
  left: 50%;
  width: 460px;
  transform: translateX(-50%);
}

.feature>ul>li {
  margin-right: 60px;
  flex: 1 1 0;
}

.feature>ul>li:last-child {
  margin-right: 0;
}

.feature>ul>li header {
  text-align: center;
  margin-bottom: 11px;
}

.feature>ul>li div {
  text-align: center;
  margin-bottom: 20px;
}

.feature>ul>li img {
  border-radius: 50%;
  max-width: 200px;
  width: 100%
}

@media (max-width: 767px) {
  .feature {
    padding: 50px 30px;
  }

  .feature header .vertical-line {
    width: 0;
  }

  .feature>ul>li {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.chief {
  font-family: MicrosoftJhengHeiRegular;
  padding: 0 11px;
  background: #3D1101;
  color: #EFE9E7;
  line-height: 20px;
}
.chief .chief-image {
  margin-right: 25px;
  height: 460px;
  flex: 0 1 470px;
  background-position: right;
  background-repeat: no-repeat;
  background-image: url('/images/chef.png');
}

.chief .chief-info {
  padding-top: 81px;
  flex: 0 1 410px;
  margin-right: 18px;
}

.chief-info .chief-name {
  margin-bottom: 16px;
}

.chief-name h2 {
  font-size: 20px;
  line-height: 32px;
}

@media (max-width: 767px) {
  .chief {
    padding: 0;
  }
  .chief .chief-image {
    height: 460px;
    margin-right: 0;
    flex: 0 0 auto;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/chef.png');
  }

  .chief .chief-info {
    padding: 0;
    flex: 0 0 auto;
    margin: 30px;
  }
}
/* review */
.review {
  background-color: #EFE9E7;
  padding: 50px 42px;
  color: #3D1101;
}

.review>header {
  text-align: center;
  margin-bottom: 31px;
  position: relative;
}

.review h2 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 24px;
  letter-spacing: 1px;
}

.review>ul>li {
  display: flex;
  margin-right: 20px;
}

.review>ul>li>div:last-child {
  margin-top: 25px;
}

.review>ul>li img {
  border-radius: 50%;
  max-width: 67px;
  margin-right: 13px;
}

.review>ul>li h3 {
  margin-bottom: 22px;
  font-size: 18px;
}

.review>ul>li p:nth-of-type(1) {
  line-height: 24px;
  margin-bottom: 16px;
}

.review>ul>li p:nth-of-type(2) {
  text-align: right;
  color: rgba(61,17,0,0.75);
}

@media (max-width: 1023px) {
  .review {
    padding-left: 10px;
    padding-right: 10px;
  }

  .review>ul>li {
    margin-right: 0;
  }
}

@media (max-width: 767px) {

  .review>ul>li {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .review>ul>li:last-child {
    margin-bottom: 0;
  }
}
/* reservation */
.reservation {
  padding: 50px 11px;
  background: rgba(250,250,250,0.70);
  color: #3D1101;
}
.reservation>header {
  text-align: center;
  margin-bottom: 38px;
}

.reservation>header>h2 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 24px;
  margin-bottom: 12px;
}

.reservation #map {
  height: 386px;
  max-width: 460px;
  width: 100%;
  margin-right: 20px;
}

.reservation form {
  max-width: 460px;
  width: 100%;
}

/* consider bootstrap css name conflicts */
.reservation form .form-group-mine {
  margin-bottom: 12px;
}

.reservation label {
  font-family: PingFangTC-Light;
  font-size: 14px;
  margin-bottom: 6px;
}

.reservation form input[type=radio] {
  margin-right: 36px;
}

.reservation form input[type="text"],
.reservation form input[type="email"],
.reservation form input[type="tel"],
.reservation form input[type="number"] {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: inset 0px 1px 0px 0px #ECECEC;
  border-radius: 3px;
  font-family: PingFangTC-Light;
  font-size: 16px;
  color: #4A4A4A;
  padding: 5px 14px;
}

.reservation form .form-buttons {
  text-align: right;
}

.reservation .radio {
  margin-right: 36px;
  font-size: 14px;
  position: relative;
  cursor: pointer;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio .label {
  position: relative;
  display: block;
  float: right;
  margin-left: 6px;
  width: 16px;
  height: 16px;
  border: 1px solid grey;
  border-radius: 100%;
  -webkit-tap-highlight-color: transparent;
}

.radio .label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color:  #4A90E2;
  transform: scale(0);
  transition: all .2s ease;
  opacity: .08;
  pointer-events: none;
}

.radio:hover>.label:after {
  transform: scale(3.6);
}

input[type="radio"]:checked + .label {
  border-color: #4A90E2;
}

input[type="radio"]:checked + .label::after {
  transform: scale(1);
  transition: all .2s cubic-bezier(.35,.9,.4,.9);
  opacity: 1.0;
}

.form-buttons button {
  text-align: center;
  width: 70px;
  padding: 5px 0;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

.form-buttons button[type="reset"] {
  background: rgba(0,0,0,0.35);
}

.form-buttons button[type="submit"] {
  background: #F56C23;
}

@media (max-width: 767px) {
  .reservation #map {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

.footer {
  padding: 50px 43px;
  background-color: #EFE9E7;
}

.footer .about {
  max-width: 299px;
  margin-right: 21px;
}

.footer .contact {
  max-width: 299px;
}

.footer h2 {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 24px;
  margin-bottom: 16px;
  color: #3D1101;
}

.footer p {
  font-family: MicrosoftJhengHeiRegular;
  font-size: 16px;
  color: #3D1101;
  line-height: 20px;
}

.footer a {
  color: inherit;
}

.footer li {
  list-style-type: disc;
  list-style-position: inside;
}

.contact li>p {
  display: inline-block;
}

.social>h1 {
  text-align: right;
  font-family: NotoSansCJKtc-Black;
  font-size: 49px;
  color: #3D1101;
  margin-bottom: 22px;
  font-weight: bold;
}

.social div {
  text-align: right;
}

.social i {
  font-size: 36px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .footer {
    padding: 50px 10px;
    background-color: #EFE9E7;
  }

  .footer .about {
    margin-bottom: 30px;
  }

  .footer .contact {
    margin-bottom: 30px;
  }
}